.container {
  background-color: #F0E68C;
  padding: 10px; }

.content {
  font-size: 1em;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif; }
  @media screen and (max-width: 768px) {
    .content {
      font-size: 0.8em; } }

.title {
  font-size: 2em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .title {
      font-size: 1em; } }

.table {
  font-family: Arial, Helvetica, sans-serif; }
  @media screen and (max-width: 768px) {
    .table {
      font-size: 0.8em;
      width: 100%; } }

.tombol:hover {
  width: 300px; }

.images {
  max-width: 100%; }
  @media screen and (max-width: 768px) {
    .images {
      max-width: 100%; } }

.font {
  font-weight: bold;
  color: #ff8000; }
  @media screen and (max-width: 768px) {
    .font {
      font-size: 0.8em;
      font-weight: bold;
      color: #ff8000; } }

.font2 {
  font-size: 1.5em;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .font2 {
      font-size: 1em;
      text-align: center; } }

.tombol {
  width: 100px;
  transition: 1s;
  transition-timing-function: ease-in;
  color: white; }

.navbar {
  font-family: Georgia, serif;
  font-style: italic;
  background-color: #99e6ff;
  font-size: 1em; }

img {
  max-width: 100px;
  border: 0; }

.navbar1 {
  background-color: #FFFFFF;
  border: 0; }

.content1 {
  margin-top: 7%;
  margin-left: 7%;
  font-size: 4em; }

.content2 {
  margin-top: 2%;
  margin-left: 27%;
  font-size: 1.3em;
  font-family: Georgia, serif; }

.square {
  background-color: green;
  width: 200px;
  height: 300px;
  position: absolute;
  margin-top: -20%;
  z-index: -2;
  margin-left: 24%; }

.border {
  background: transparent;
  width: 200px;
  height: 300px;
  position: absolute;
  border: 3px solid;
  border-color: yellow;
  z-index: -1;
  margin-left: 25.5%;
  margin-top: -18.5%; }

.border1 {
  background-color: white;
  width: 100px;
  height: 75px;
  margin-left: 530px;
  margin-top: -75px; }

/*# sourceMappingURL=home.css.map */
