/*
	v 1.25
	mixin helper
*/

/*background
*/
@mixin full-fixed-background($url){
	background-image: $url;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
@mixin full-fixed-background2(){
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

@mixin full-background($url){
	background-image: $url;
	background-repeat: no-repeat;
	background-size: cover;
}

@mixin full-stretch-background($url){
	background-image: $url;
	background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*animation
*/
@mixin standard-animation($name, $sec, $delay){
    animation-name: $name;
    animation-iteration-count: infinite;
    animation-duration: $sec+s;
    animation-delay: #delay+s;
}

@mixin standard-infinite-animation($name, $sec, $delay){
    animation-name: $name;
    animation-iteration-count: infinite;
    animation-duration: $sec+s;
    animation-delay: #delay+s;
}

/*animation - transition
*/
@mixin standard-transition($sec){
	-webkit-transition : $sec;
	-moz-transition : $sec;
	-ms-transform: $sec;
	-o-transition : $sec;
	transition : $sec;
}

@mixin standard-transition2($name, $sec){
	-webkit-transition : $name + " " + $sec;
	-moz-transition : $name + " " + $sec;
	-ms-transform: $name + " " + $sec;
	-o-transition : $name + " " + $sec;
	transition : $name + " " + $sec;
}

/*transform
*/
@mixin rotate-deg($deg){
	-ms-transform: rotate($deg+deg);
    -webkit-transform: rotate($deg+deg);
    -moz-transform: rotate($deg+deg);
    -o-transform: rotate($deg+deg);
    transform: rotate($deg+deg);
}
@mixin flip-x(){
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
@mixin flip-y(){
	-moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}
@mixin flip-xy(){
	-moz-transform: scaleX(-1) scaleY(-1);
    -o-transform: scaleX(-1) scaleY(-1);
    -webkit-transform: scaleX(-1) scaleY(-1);
    transform: scaleX(-1) scaleY(-1);
}
@mixin translate($x, $y){
	-moz-transform: translate($x, $y);
    -o-transform: translate($x, $y);
    -webkit-transform: translate($x, $y);
    transform: translate($x, $y);
}
/*filter
*/
@mixin blur($blur){
	-webkit-filter: blur($blur+px);
	-moz-filter: blur($blur+px);
	-o-filter: blur($blur+px);
	-ms-filter: blur($blur+px);
	filter: blur($blur+px);
}
/*placeholder
*/
@mixin placeholder($color){
	::-webkit-input-placeholder {
	   color: $color;
	}
	:-moz-placeholder { 
	   color: $color;  
	}
	::-moz-placeholder { 
	   color: $color;  
	}
	:-ms-input-placeholder {  
	   color: $color;  
	}
}

@mixin center_placeholder($color){
	::-webkit-input-placeholder {
	   text-align: center;
	   color: $color;
	}
	:-moz-placeholder { 
	   text-align: center;
	   color: $color;  
	}
	::-moz-placeholder { 
	   text-align: center;
	   color: $color;  
	}
	:-ms-input-placeholder {  
	   text-align: center;
	   color: $color;  
	}
}

/*
*/

/*progress bar
*/
@mixin progress_wrapper($height, $bg-color){
	height: $height+px;
	position: relative;
	background: $bg-color;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	padding: 0px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

@mixin progress_bar($bg-color){
	display: block;
	height: 100%;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: $bg-color;
	background-image: linear-gradient(
	center bottom,
	rgb(43,194,83) 37%,
	rgb(84,240,84) 69%
	);
	box-shadow: 
	inset 0 2px 9px  rgba(255,255,255,0.3),
	inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}

/*scrollbar
*/
